body {
	margin: 2em 5%;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2 {	
	color: #399;}
h1 {
	font-size: 1.5em;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
small {
	color: #999;
}
 a {
  text-decoration: none;
  color: blue
}

a:visited {
  color: #937393
}

a:hover {
  color: #399
}

a:active{
  color:purple
}
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: bold;
}